@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Cairo', sans-serif;
  background-color: #f3f4f6;
}

.gradient-text {
  background: linear-gradient(to right, #00d2ff, #9d00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg {
  background: linear-gradient(135deg, #00d2ff 0%, #9d00ff 100%);
}
